@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Roboto",sans-serif;
  margin: 0;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}

header {
  background-image: url("car-bg.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: calc(100vh - 102px);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  font-size: 2.5rem;
  margin-left: -150px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 2px;
}

nav li a {
  color: white;
  padding: 0.5rem;
  margin-left: 10px;
  text-decoration: none;
}

.selected {
  font-weight: bold;
}

.highlight {
  background-color: #00c2ff;
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: inline;
}

.content {
  font-size: 1.5rem;
  margin: 15px 160px;
  max-width: 100%;
}

.content h1 {
  color: #00c2ff;
  margin-bottom: 0;
}

footer {
  background-color: black;
  color: white;
  padding: 1rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer strong {
  color: #00c2ff;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .content {
    font-size: 1rem;
    margin: auto 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logo {
    margin-left: 10px;
    font-size: 1.5rem;
  }
  nav ul {
    margin-right: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav li:not(:last-child) {
    margin-bottom: 1rem;
  }
  nav .highlight {
    display: none;
  }
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer li {
    margin: 1rem;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */